@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
}


.background{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(1.5px);
  transform: scale(1.1);
}
.container{
  width: 100%;
}


.bg img{
  width: 100%;
}

#search{
  font-family: "Roboto";
  padding-left: 95px;
  font-size: 50px;
  margin: 0;
  position: absolute;
  bottom: 96%;
  left: 15%;
  width: 60%;
  height: 100px;
  box-shadow: 0px 6px grey;
  z-index:10;
  border: none;
  border-radius: 50px;
}

.menu-bg{
  position: absolute;
  width: 100%;
  top: 24%;
  height: 78%;
  background-color: #E5E5E5;
  border-radius: 100px;
}

.photo{
  width: 40%;
  margin: 50px;
  margin-top: 20px;
  padding-left: 20px;
}

.photo img{
  border: none;
  border-radius: 50px;
}

h1{
  font-family: "Roboto";
  font-size: 90px;
  margin-left: 60px;
  margin-top: 0;
  font-weight: bolder;
}

h2{
  font-family: "Roboto";
  font-size: 60px;
  margin-left: 60px;
  margin-top: 0;
  padding-top: 20px;
  font-weight: bolder;
}
p{
  font-size: 30px;
  margin: 39px;
  letter-spacing: 5px;
  padding: 20px;
}

.menu-bg img{
  padding: 55px;
}

#radio{
  width: 50px;
  height: 50px;
  margin-left:58px;
  filter: grayscale(1);
}

#label{
  margin-left:18px;
  font-size: 45px;
}

.btn{
  font-size: 40px;
  background-color: white;
  cursor: pointer;
  margin-left:58px;
  border: 1px solid grey;
  border-radius: 30px;
}

#quantity{
  font-weight: bold;
  width: 40px;
  border: none;
  font-size: 40px;
  margin-left: 41px;
  background-color: #E5E5E5;
}
