@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
}


.background{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  filter: blur(1.5px);
  transform: scale(1.1);
}
.container{
  width: 100%;
}


.bg img{
  width: 100%;
}

#search{
  font-family: "Roboto";
  padding-left: 95px;
  font-size: 50px;
  margin: 0;
  position: absolute;
  bottom: 96%;
  left: 15%;
  width: 60%;
  height: 100px;
  box-shadow: 0px 6px grey;
  z-index:10;
  border: none;
  border-radius: 50px;
}

.menu-bg{
  position: absolute;
  width: 100%;
  top: 24%;
  background-color: #E5E5E5;
  border-radius: 100px;
}

.photo{
  width: 40%;
  margin: 50px;
  margin-top: 20px;
  padding-left: 20px;
}

.photo img{
  border: none;
  border-radius: 50px;
}

h1{
  font-family: "Roboto";
  font-size: 90px;
  margin-left: 60px;
  margin-top: 0;
  font-weight: bolder;
}

h2{
  font-family: "Roboto";
  font-size: 60px;
  margin-left: 60px;
  margin-top: 0;
  padding-top: 20px;
  font-weight: bolder;
}
p{
  font-size: 30px;
  margin: 50px;
  letter-spacing: 5px;
  padding: 11px;
}

.menu-bg img{
  padding: 55px;
}

.radio{
  width: 50px;
  height: 50px;
  margin-left:58px;
  filter: grayscale(1);
}

.label{
  margin-left:18px;
  font-size: 45px;
}

.btn{
  font-size: 40px;
  background-color: white;
  cursor: pointer;
  margin-left:58px;
  border: 1px solid grey;
  border-radius: 30px;
}

#quantity{
  font-weight: bold;
  width: 40px;
  border: none;
  font-size: 40px;
  margin-left: 41px;
  background-color: #E5E5E5;
}

.basket{
  position:relative;
  left: 2%;
  color: white;
  width: 95%;
  letter-spacing: 2px;
  padding-left: 56px;
  border-radius: 35px;
  text-align: left;
  font-size: 60px;
  height: 130px;
  background-color: #964B00;
}

.menu-bg-c{
  position: absolute;
  width: 100%;
  top: 24%;
  min-height: 100%;
  background-color: #E5E5E5;
  border-radius: 100px;
}

.basket-c{
  position:relative;
  left: 0%;
  color: white;
  width: 95%;
  letter-spacing: 2px;
  padding-left: 56px;
  border-radius: 35px;
  text-align: left;
  font-size: 60px;
  height: 130px;
  background-color: #964B00;
}

.customize-title{
  position: relative;
  text-align: center;
  width: auto;
  height: 76px;
  margin-top: 200px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 90px;
  line-height: 28px;
  text-align: left;
  color: #000000;
}

.step-title{
  position: relative;
  width: auto;


  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 16px;
  text-align: left;
  color: #000000;
  margin-bottom: 100px;
}

.step{
  position: relative;
  text-align: left;
  font-style: normal;
  margin-bottom: 100px;
}

.step-radio{
  font-size: 50px;
  width: 50px;
  margin-right: 40px;
  right: 20px;
  position: relative;
  left: 5%;
}

.step-price{
  font-size: 50px;
  width: 50px;
  margin-right: 40px;
  position: relative;
  float: right;
  right: 10%;
}

.step-option{
  font-weight: 40px;
}

input[type="radio" i]{
  font-size: 40px;
  height: 40px;
}

.back{
  text-decoration: none;
  margin-left: 50px;
  color:black;
}
